body {
  background-image: url("image2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.line-pixel {
  display: flex;
  display: block;
  width: 501px;
}

.pixel {
  /* color: white;
  display: inline-block;
  border: solid black 1px;
  height: 98px;
  width: 98px; */
}

#color-palette  {
  background-color: rgb(140, 171, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
  border-radius: 26px;

}

#container-color-palette {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
}

#container-pixel-board {
  display: flex;
  justify-content: center;
}

#container-buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #388e3c;
}

/* Estilo do input */
input[type="number"] {
  padding: 8px;
  font-size: 16px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Estilo do botão "Limpar" */
#clear-board {
  background-color: #f44336;
}

#clear-board:hover {
  background-color: #e53935;
}

/* Estilo do botão "VQV" */
#generate-board {
  background-color: #2196F3;
}

#generate-board:hover {
  background-color: #1976D2;
}
