#color-palette  {
  height: 200px;
  width: 400px;
}
.color  {
  width: 40px;
  height: 40px;
  border:solid black;
  border-width: 1px;
  display: inline-block;
}

.pixel {
  color: white;
  display: inline-block;
  border: solid black;
  height: 40px;
  width: 40px;
  
}
div {
  margin-bottom: 0px;
}
/*.sectiontwo {
  background-color: blue;
  width: 600px;
  height: 600px;
}

.class-inline {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: azure;
}

#color-palette {
  width: 100%;
  height: 200px;
  background-color: blue;
}

.color{
  border: solid black;
  border-width: 1px;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.black {
  background-color: black;
}
.yellow{
  background-color: yellow;
}
.red {
  background-color: red;
}
.green{
  background-color: green;
} */